<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
      <%= @friends.each do |friend|%>
        <%= friend.name%>
      <% end %>
      <%= @friends_req.each do |friend_req|%>
        <%= friend_req.name%>
      <% end %>
      <%= @friends_pen.each do |friend_pen|%>
        <%= friend_pen.name%>
      <% end %>
    </ul>
  </article>
</section>
