<section class="user-section">
  <h2 class="text-center"><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <div class="list-group wrap1">
      <h3>Recent posts:</h3>
      <%= render @posts %>
    </div>
    <ul class="posts list-group">
      <div class="wrap1 list-group-item">
      <h3 class="text-primary">List of friends</h3>
        <% @friends.each do |friend|%>
          <p class="text-danger test"><%= friend.name%></p>
        <% end %>
      </div>
      <div class="wrap1 list-group-item">
      <h3 class="text-primary">List of pending friends</h3>
        <% @friends_req.each do |friend_req|%>
          <%= friend_req.name%>
        <% end %>
      </div>
      <div class="wrap1 list-group-item">
      <h3 class="text-primary">List of request friends</h3>
        <% @friends_pen.each do |friend_pen|%>
          <%= friend_pen.name%>
          <%= link_to 'Decline', friendship_path(friend_pen),method: :delete%>
          <%= link_to 'Approve',  user_approve_friendship_path(friend_pen)%>
        <% end %>
      </div>
    </ul>
  </article>

  
</section>
